#Configuration file for MySQL Proxy -- edit to suit your own computer

[mysql-proxy]
admin-address=localhost:4041
admin-username=root
admin-password=letmein
admin-lua-script=/usr/local/lib/mysql-proxy/lua/admin.lua
proxy-address=localhost:3306
proxy-backend-addresses=localhost:5123
#proxy-lua-script=/u/raluca/EncryptDB/src/EDB/mysqlproxy/wrapper.lua
proxy-lua-script=/home/kis/EncryptDB/src/EDB/mysqlproxy/wrapper.lua




